.about {
  background-color: $dark;
  padding: 100px 30px;
}

.bullet-points {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;

  li {
    text-align: center;
    min-width: 150px;
    margin: 20px;

    img {
      width: 100px;
      height: 100px;
    }

    p {
      margin-top: 20px;
    }
  }
}

.about-text {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;

  & > div {
    margin: 0 50px;
    & > p:first-of-type {
      margin-bottom: 30px;
    }
  }
}

.about-presenter {
  text-align: center;
  padding: 0 0 20px;

  img {
    border-radius: 50%;
    width: 300px;
    margin-top: 20px;
  }

  p {
    margin: 10px auto;
    max-width: 500px;
  }
}

@media only screen and (max-width: 890px) {
  .about {
    padding: 100px 30px 0;
  }
  .about-text {
    flex-direction: column;
    margin: 100px 0 0;

    & > div > p:last-of-type {
      margin-bottom: 80px;
    }
  }
}
