.contact {
  background: url('/images/bg-section.jpg') top center / cover;
  background-color: $dark;
  padding: 100px 30px;
}

.sponsors {
  display: flex;
  justify-content: space-around;
  p { margin-bottom: 60px; }

  img {
    max-height: 100px;
    margin-right: 60px;
  }
}

.talk-us {
  text-align: center;
  margin: 150px 0 0;

  .mail {
    color: $white;
    display: block;
    margin-bottom: 50px;
  }
}

.footer {
  margin-top: 250px;
  text-align: center;
  a {
    color: $white;
    display: block;
    font-size: $sm;
    margin: 10px;
  }
}

@media only screen and (max-width: 890px) {
  .sponsors {
    flex-direction: column;
    p { margin-top: 60px; }
    img {
      display: block;
      margin-right: initial;
      text-align: center;
      margin: 20px auto;
    }

  }
}
