//# Color
$white: #fff!default;
$green: #40db86!default;
$yellow: #ffc900!default;
$gray: #464646!default;
$dark: #030802!default;

//# Font Family
$roboto: 'Roboto', sans-serif!default;
$roboto-slab: 'Roboto Slab', serif!default;

//# Font Size
$xl: 58px;
$lg: 36px;
$md: 24px;
$sm: 18px;
