doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='Code in the Dark Vale do Paraíba 2019')
    meta(name='keywords', content='frontend, front-end, html, html5, css, css3, javascript, js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Code in the Dark Vale do Paraíba 2019
    meta(name='description', content='Code in the Dark edição Vale do Paraíba.')
    meta(name='keywords', content='frontend, front-end, html, html5, css, css3, javascript, js')
    meta(property='og:title', content='Code in the Dark Vale do Paraíba 2019')
    meta(property='og:locale', content='pt_BR')
    meta(property='og:type', content='website')
    meta(property='og:keywords', content='frontend, front-end, html, html5, css, css3, javascript, js')
    meta(property='og:description', content='Code in the Dark Vale do Paraíba 2019')
    meta(property='og:url', content='http://codeinthedark.frontinvale.com.br')
    meta(property='og:image', content='http://codeinthedark.frontinvale.com.br/images/codeinthedark-social.png')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='500')
    meta(property='og:image:height', content='300')
    meta(name='twitter:title', content='Code in the Dark Vale do Paraíba 2019')
    meta(name='twitter:description', content='Code in the Dark edição Vale do Paraíba.')
    meta(name='twitter:url', content='http://codeinthedark.frontinvale.com.br')
    meta(name='twitter:image', content='http://codeinthedark.frontinvale.com.br/images/codeinthedark-social.png')
    meta(name='twitter:image:width', content='500')
    meta(name='twitter:image:height', content='300')
    link(rel='canonical', href='http://codeinthedark.frontinvale.com.br/')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body.loading
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    include layouts/welcome
    include layouts/about
    include layouts/contact

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-103963597-1');ga('send','pageview');
