section.about
  ul.bullet-points
    li
      img(src='images/icon-stopwatch.svg')
      p.is-roboto-slab
        |RODADA DE
        br
        |15 MINUTOS
    li
      img(src='images/icon-coding.svg')
      p.is-roboto-slab
        |APENAS
        br
        |HTML E CSS
    li
      img(src='images/icon-visibility.svg')
      p.is-roboto-slab
        |SEM PREVIEW
        br
        |SEM PHOTOSHOP
    li
      img(src='images/icon-award.svg')
      p.is-roboto-slab
        |QUEM SERÁ O
        br
        |VENCEDOR?
