section.about
  ul.bullet-points
    li
      img(src='images/icon-stopwatch.svg')
      p.is-roboto-slab
        |RODADA DE
        br
        |15 MINUTOS
    li
      img(src='images/icon-coding.svg')
      p.is-roboto-slab
        |APENAS
        br
        |HTML E CSS
    li
      img(src='images/icon-visibility.svg')
      p.is-roboto-slab
        |SEM PREVIEW
        br
        |SEM PHOTOSHOP
    li
      img(src='images/icon-award.svg')
      p.is-roboto-slab
        |QUEM SERÁ O
        br
        |VENCEDOR?

  div.about-text
    div
      p.is-green.is-xl.is-bold COMO FUNCIONA?
      p.is-roboto-slab
        |O Code in the Dark funciona assim: Você recebe um layout e tem 15 minutos para reproduzi-lo com HTML e CSS, complicado né?
        br
        br
        |Mas temos mais alguns pequenos detalhes: Você não pode usar qualquer programa de edição e conta apenas com uma imagem do layout. Além disso, sem previews! Só vai poder ver como ficou no fim da rodada. Animal né?
        br
        br
        |São 04 rodadas com 04 competidores em cada, o vencedor de cada rodada disputa a grande final!
    div.is-right
      p.is-green.is-xl.is-bold INSCRIÇÕES
      p.is-roboto-slab
        |O evento é 100% grátis, mas temos limitações de espaço.
        span.is-yellow.is-bold  As vagas serão exclusivas para os participantes do
          a(href='http://frontinvale.com.br/' target='_blank')  Front In Vale 2019
          |  e a entrada será permitida até atingir o limite máximo do espaço.
