section.contact
  div.sponsors
    div
      p.is-roboto-slab PATROCÍNIO
      a(href='https://quero.education', target='_blank')
        img(src='images/quero-educacao.svg')

    div
      p.is-roboto-slab REALIZAÇÃO
      a(href='http://frontinvale.com.br', target='_blank')
        img(src='images/frontinvale.svg')
      a(href='http://designa.com.br', target='_blank')
        img(src='images/designa.svg')

  div.talk-us
    p Quer saber mais? Entre em contato com a gente
    a.mail.is-bold.is-lg(href='mailto:contato@frontinvale.com.br')
      |contato@frontinvale.com.br
    a.button(href='https://www.sympla.com.br/frontinvale-2017__130049', target='_blank') INSCREVA-SE

  div.footer
    a(href='https://tictail.com/', target='_blank')
        img(src='images/tictail.svg')

    a(href='https://www.facebook.com/leandrogodoifotografo', target='_blank')
      |Fotos por Leandro Godói
