section.welcome
  div.logo
    img(src='images/logo.png')
  div.is-right
    p.is-bold.is-xl
      |11/08/2018
      br
      |20:00h

    p.is-green.is-roboto-slab
      |2ª edição
      br
      |PÓS FRONT IN VALE
      br
      |100% GRÁTIS

    div.divisor

    p
      |@ Quero Educação
      br
      |Av. São João, 1701Q
      br
      |São José dos Campos - SP

    a.button(href='http://bit.ly/citd-18', target='_blank') INSCREVA-SE

