section.welcome
  div.logo
    img(src='images/logo.png')
  div.is-right
    p.is-bold.is-xl
      |16/09/2017
      br
      |20:00h

    p.is-green.is-roboto-slab
      |PÓS FRONT IN VALE
      br
      |100% GRÁTIS

    div.divisor

    p
      |@ Quero Educação
      br
      |Av. São João, 1701Q

    a.button(href='https://www.sympla.com.br/frontinvale-2017__130049', target='_blank') INSCREVA-SE

